:root {
  --main-font: Roboto, sans-serif;
  --seconary-font: Raleway, sans-serif;
  --focus-colour: #2196f3;
  --main-colour: #212121;
  --seconary-colour: #757575;
  --background-colour: #2f303a;
  --footer-link-colour: rgba(255, 255, 255, 0.6);
  --dark-text-colour: #ffffff;
  --hero-button-focus-colour: #188ce8;
  --button-background-colour: #f5f4fa;
  --primary-font-size: 14px;
  --seonary-font-size: 16px;
}

body {
  font-family: var(--main-font);
  color: var(--main-colour);
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
}

/*
address {
  font-family: var(--main-font);
  font-style: normal;
}
*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*========== COMPONENTS ==========*/
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/*========== END COMPONENTS ==========*/

/*========== LOGO ==========*/

.logo {
  font-family: var(--seconary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-black {
  color: black;
}

.logo-white {
  color: white;
}

.logo-blue {
  color: var(--focus-colour);
}

/*========== END LOGO ==========*/

/*========== HEADER ==========*/
.menu-link,
.menu-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-colour);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.current-link,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--focus-colour);
}

/*========== END HEADER ==========*/

/*========== FOOTER ==========*/
.footer {
  background-color: var(--background-colour);
}

.address-footer-list-title-link-map,
.address-footer-list-title-link {
  font-style: inherit; /*italic всё равно остался. В 3 домашке глобальный address поставлю*/
  line-height: 1.71;
}

.address-footer-list-title-link-map {
  color: var(--dark-text-colour);
}

.address-footer-list-title-link {
  color: var(--footer-link-colour);
}
/*========== END FOOTER ==========*/

/*========== HERO ==========*/
.hero {
  background-color: var(--background-colour);
}

.hero-title,
.hero-button {
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-text-colour);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  background-color: var(--focus-colour);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-focus-colour);
}

/*========== END HERO ==========*/

/*========== FEATURES ==========*/
.features-text {
  line-height: 1.71;
  color: var(--seconary-colour);
}

.features-title {
  line-height: 1.14;
  text-transform: uppercase;
}

/*========== END FEATURES ==========*/

/*========== ABOUT ==========*/

/*========== END ABOUT ==========*/

/*========== COMMAND ==========*/
.command-list-item-title,
.command-list-item-text {
  font-size: var(--seonary-font-size);
  text-align: center;
}

.command-list-item-title {
  font-weight: 500;
  line-height: 1.36;
}

.command-list-item-text {
  line-height: 1.19;
  color: var(--seconary-colour);
}
/*========== END COMMAND ==========*/

/*========== PORTFOLIO BUTTON ==========*/
.portfolio-button {
  font-weight: 500;
  font-size: var(--seonary-font-size);
  line-height: 1.63;
  text-align: center;
  background-color: var(--button-background-colour);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--dark-text-colour);
  background-color: var(--focus-colour);
}
/*========== END PORTFOLIO BUTTON ==========*/

/*========== PORTFOLIO LIST ==========*/
.portfolio-list-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-item-text {
  font-size: var(--seonary-font-size);
  line-height: 1.88;

  color: var(--seconary-colour);
}
/*========== END PORTFOLIO LIST ==========*/
